nav {
background-color: rgb(131, 161, 106);
text-align: center;
}
li{
  display: inline-block;
  margin: 0 10;
  transition: 0.5s ease;
  padding: 10px;
 
}



li :hover{
  background-color: rgb(201, 150, 214);
  border:3px;
  color: aliceblue;
  font-size: 35px;

}
li hover a{
  color: rgb(115, 116, 82);
  font-size: 35px;
}
div{
  text-align: center;
}
button{
  border: none;
  background-color: rgb(220, 182, 230);
  color:rgb(32, 70, 41);
  padding: 10px 20px;
}
button:hover {
  background-color: rgb(159, 240, 128);
}